






<h1>a que coucou!!</h1>


<form>
	<label>nom</label>
	<input type="text" ng-model="list.nom" style="background-color: antiquewhite;" />	
	<label>prenom</label>
	<input type="text" ng-model="list2.prenom" style="background-color: antiquewhite;" />
	<label>age</label>
	<input type="text" ng-model="list.age" style="background-color: antiquewhite;" />
	<label>email</label>
	<input type="email" ng-model="list2.mail" style="background-color: antiquewhite;" />
	<a class="button button-positive" type="submit" ng-click="submitFrom()">ok</a>
</form>
